/* Fonts */
@font-face {
	font-family: 'Inter';
	src:	url(../fonts/Inter-Regular.woff2),
				url(../fonts/Inter-Regular.woff);
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AzeretMono';
	src: 	url(../fonts/AzeretMono-Bold.woff2),
			url(../fonts/AzeretMono-Bold.woff);
	font-display: swap;
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'AzeretMono';
	src: 	url(../fonts/AzeretMono-Regular.woff2),
			url(../fonts/AzeretMono-Regular.woff);
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}

/* all */
html {
	box-sizing: border-box;
	scroll-behavior: smooth; /* не поддерживается IE */
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	margin-left: auto;         /* Автоматический отступ слева */
	margin-right: auto;        /* Автоматический отступ справа */
	max-width: 1440px;        /* Максимальная ширина сайта */
	width: 100%;               /* Адаптивная ширина для меньших экранов */	
	font-family: 'Montserrat', sans-serif;
	background-color: rgb(255, 255, 255);
}

.container {
	margin: 0 auto;
	max-width: 1320px;
	width: 100%; /*для адаптива*/
}

a {
	text-decoration: none;
	color: rgb(34, 34, 34);
}

ul {
	list-style: none;
}

.title {
	margin: 0;
	padding: 0;
}

/* header */
.header {
	/* height: 120px; */
	background-color: #4A2B33;
}

.header_flex {
	display: -webkit-box;
	display: -ms-flexbox; /* IE 10 */
	display: -webkit-flex; /* Safari 6.1+ */
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	padding-top: 2%;
	padding-bottom: 2%;
}

.nav-list {
	display: -webkit-box;
	display: -ms-flexbox; /* IE 10 */
	display: -webkit-flex; /* Safari 6.1+ */
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	padding: 0;
}

.nav-item:not(:last-child) {
	margin-right: 21px;
}

.nav-link {
	font-family: 'Inter', sans-serif;
	/* font-size: 15px; */
	font-size: calc(0.85rem + 0.1vw);
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	color: rgb(210, 116, 135);
}

.nav-link:hover {
	cursor: pointer;
	color: rgba(210, 116, 135, .5);
	-webkit-transition: 0.3s all ease-in-out;
	transition: 0.3s all ease-in-out;
}

	/* burger-menu */
.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.burger {
  position: relative;
  z-index: 2;
  width: 30px;
  height: 23px;
  color: rgb(210, 116, 135);;
  transition: color .5s ease;
}

.burger__line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: currentColor;
  transform-origin: right;
  transition: transform .5s ease;
}

.burger__line:first-child {
  transform: translateY(calc(-100% - 6px));
}

.burger__line:nth-child(2) {
  top: calc(50% - 3px / 2);
  transition: opacity .5s ease, transform .5s ease;
}

.burger__line:last-child {
  transform: translateY(calc(100% + 5px));
}

.burger:active {
  color: #E1670E;
}

.burger:active .burger__line:nth-child(2) {
  transform: scaleX(calc(25 / 30));
}

.burger:active .burger__line:last-child {
  transform: scaleX(calc(18 / 30));
}

.burger.is-opened .burger__line {
  transform-origin: center;
}

.burger.is-opened .burger__line:first-child {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.burger.is-opened .burger__line:nth-child(2) {
  opacity: 0;
  transform: translateX(-100%);
}

.burger.is-opened .burger__line:last-child {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.burger__menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  display: none;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 40px 80px;
  list-style: none;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  transform: translateX(-100%);
}

.burger__menu.is-opened {
  display: block;
  background-color: rgb(74, 43, 51);
  opacity: .9;
  transform: translateX(0);
  animation-name: menu-open;
  animation-duration: .5s;
}

.burger__menu.is-closed {
  animation-name: menu-close;
  animation-duration: .5s;
}

.burger__item {
  /* font-size: 24px; */
  font-size: calc(1rem + 1.1vw);
  margin-bottom: 10px;
  color: rgb(210, 116, 135);
}

@keyframes menu-open {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes menu-close {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
	/* /burger-menu */

.logo {
	margin: 0;
	padding: 0;
	padding-right: 9%;
}

.logo img {
	width: 100%;
}

svg:hover .social-link-img {
	cursor: pointer;
	fill: rgba(210, 116, 135, 0.5);
	-webkit-transition: 0.3s all ease-in-out;
	transition: 0.3s all ease-in-out;
}

.social-link:not(:last-child) {
	margin-right: 15px;
}

/* head */
.head {
	background: rgb(74, 43, 51);
}

.head__container {
	/* padding-inline: 1%; */
	padding-bottom: 3.3%;
}

.head-bg {
	width: 100%;
}

.head-bg img {
	width: 100%;
}

/* about-us */
.about-us {
	/* padding-bottom: 16%; */
}

.about-us__container {
	padding: 16% 18%;
}

.about-us__title {
	margin: 0;
	font-family: 'AzeretMono', sans-serif;
	/* font-size: 18px; */
	font-size: calc(1rem + 0.13vw);
	font-weight: 700;
	/* line-height: 21.6px; */
	line-height: 125%;
	text-align: center;
	color: rgb(34, 34, 34);
}

.about-us__content {
	margin: 0;
	font-family: 'Inter', sans-serif;
	/* font-size: 32px; */
	font-size: calc(1rem + 1.11vw);
	font-weight: 400;
	/* line-height: 44.8px; */
	line-height: 140%;
	text-align: center;
	color: rgb(34, 34, 34);
}


/* menu */
.menu {
	padding-top: 10%;
	padding-bottom: 10%;
	background: rgb(233, 233, 227);
}

.menu__container {
	display: -webkit-box;
	display: -ms-flexbox; /* IE 10 */
	display: -webkit-flex; /* Safari 6.1+ */
	display: flex;
}

.menu__title {
	margin-bottom: 17px;
	font-family: 'AzeretMono', sans-serif;
	/* font-size: 18px; */
	font-size: calc(1rem + 0.13vw);
	font-weight: 700;
	line-height: 21.6px;
	letter-spacing: 0%;
	text-align: left;
	color: rgb(111, 111, 100);
}

.menu__content {
	margin: 0;
	margin-bottom: 74px;
	width: 84%;
	font-family: 'Inter', sans-serif;
	/* font-size: 32px; */
	font-size: calc(1rem + 1.11vw);
	font-weight: 400;
	/* line-height: 44.8px; */
	line-height: 165%;
	letter-spacing: 0%;
	text-align: left;
	color: rgb(111, 111, 100);
}

.menu-left-box, .menu-right-box {
	width: 50%;
	/* height: 1037px; */
}

.menu-img {
	width: 100%;	
	object-fit: cover;
}

.tabs button {
	margin-right: 10px;
}

.tabs-btn {
	width: 90%;
	height: 58px;
	font-family: 'Inter', sans-serif;
	/* font-size: 15px; */
	font-size: calc(0.85rem + 0.1vw);
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0%;
	text-align: center;
	color: rgb(111, 111, 100);
	background-color: inherit;
	box-sizing: border-box;
	border: 2px solid rgb(111, 111, 100);	
}

.tabs-btn:hover {
	cursor: pointer;
	color: rgb(255, 255, 255);
	background-color: rgb(111, 111, 100);
	-webkit-transition: 0.3s all ease-in-out;
	transition: 0.3s all ease-in-out;
}

.tabs-btn:not(:last-child) {
	margin-bottom: 12px;
}


/* location */
.location {
	padding-bottom: 10%;
	background: rgb(170, 158, 84);
}

.location__container {
	display: -webkit-box;
	display: -ms-flexbox; /* IE 10 */
	display: -webkit-flex; /* Safari 6.1+ */
	display: flex;
	gap: 7%; /* расстояние между блоками */
}

.location__block {
	margin-top: 8%;
	padding: 15px;
	display: -webkit-box;
	display: -ms-flexbox; /* IE 10 */
	display: -webkit-flex; /* Safari 6.1+ */
	display: flex;
	-webkit-box-flex: 1;
		-ms-flex: 1;
			flex: 1;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	/* width: 389px; */
	background: inherit;
}

.location__title {
	padding-bottom: 15px;
	font-family: 'AzeretMono', sans-serif;
	/* font-size: 17px; */
	font-size: calc(1rem + 0.1vw);
	font-weight: 700;
	/* line-height: 21.6px; */
	line-height: 130%;
	letter-spacing: 0%;
	text-align: center;
	color: rgb(255, 255, 255);
}

.location__content {
	-webkit-box-flex: 1;
		-ms-flex-positive: 1;
			flex-grow: 1;
	margin: 0;
	font-family: 'Inter', sans-serif;
	/* font-size: 25px; */
	font-size: calc(1rem + 0.63vw);
	font-weight: 400;
	/* line-height: 36.4px; */
	line-height: 182%;
	letter-spacing: 0;
	text-align: center;
	color: rgb(255, 255, 255);
}

.location__content_workdays {
	margin-bottom: 35px;
}


/* gallery */
.gallery {
	padding-top: 10%;
    padding-bottom: 10%;
}

.gallery__container {
	display: -webkit-box;
	display: -ms-flexbox; /* IE 10 */
	display: -webkit-flex; /* Safari 6.1+ */
	display: flex;
	gap: 40px; /* Отступ между левой и правой частью */
}

.gallery-left {
	display: -webkit-box;
	display: -ms-flexbox; /* IE 10 */
	display: -webkit-flex; /* Safari 6.1+ */
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	gap: 40px;
	-webkit-box-flex: 1;
		-ms-flex: 1;
			flex: 1;
	width: 644px;
	height: 640px;
}

.gallery-left img {
	width: 100%;
	height: 50vh; /* Высота половина окна, можно подстроить */
	object-fit: cover;
}

.gallery-right {
	-webkit-box-flex: 1;
		-ms-flex: 1;
			flex: 1;
	width: 644px;
	height: 640px;
}

.gallery-right img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}



/* info */
.info {
	padding-top: 10%;
    padding-bottom: 10%;
	background: rgb(74, 43, 51);
}

.info__container {
	display: -webkit-box;
	display: -ms-flexbox; /* IE 10 */
	display: -webkit-flex; /* Safari 6.1+ */
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	-webkit-box-align: start;
		-ms-flex-align: start;
			align-items: flex-start;
}

.info-left, .info-right {
	width: 50%;
}

.info-left {
	-webkit-box-flex: 1;
		-ms-flex: 1 0 150px;
			flex: 1 0 150px;
	box-sizing: border-box;
	max-width: 413px;
	font-family: 'AzeretMono', sans-serif;
	/* font-size: 47px; */
	font-size: calc(1rem + 2.15vw);
	font-weight: 400;
	/* line-height: 62.5px; */
	line-height: 190%;
	letter-spacing: 1px;
	text-align: left;
	color: rgb(210, 116, 135);
}

.info-right {
	-webkit-box-flex: 2;
		-ms-flex: 2 1 auto;
			flex: 2 1 auto;
	box-sizing: border-box;
	max-width: 49%;
	font-family: 'Inter', sans-serif;
	/* font-size: 18px; */
	font-size: calc(1rem + 0.14vw);
	font-weight: 400;
	/* line-height: 27px; */
	line-height: 160%;
	letter-spacing: 0;
	text-align: left;
	color: rgb(210, 116, 135);
}


/* footer */
.footer {
	padding-top: 5%;
	padding-bottom: 5%;
	background: #fff;
}

.footer__container {
	padding: 0 27%;
}

.footer-list {
	display: -webkit-box;
	display: -ms-flexbox; /* IE 10 */
	display: -webkit-flex; /* Safari 6.1+ */
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
		-ms-flex-direction: row;
			flex-direction: row;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	gap: 32px;
	row-gap: 7px;
	height: 60px;
}

.footer-link {
	font-family: 'Inter', sans-serif;
	/* font-size: 15px; */
	font-size: calc(0.85rem + 0.1vw);
	font-weight: 400;
	line-height: 22.4px;
	letter-spacing: 0%;
	text-align: center;
	color: rgb(31, 31, 31);
}

.footer-link:hover {
	cursor: pointer;
	color: rgb(210, 116, 135);
	-webkit-transition: 0.3s all ease-in-out;
	transition: 0.3s all ease-in-out;
}

.footer__info {
	display: -webkit-box;
	display: -ms-flexbox; /* IE 10 */
	display: -webkit-flex; /* Safari 6.1+ */
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	gap: 16px;
	margin-top: 16px;
}

.footer__info-content {
	font-family: 'Inter', sans-serif;
	/* font-size: 13px; */
	font-size: calc(0.72rem + 0.1vw);
	font-weight: 400;
	line-height: 19.5px;
	letter-spacing: 0%;
	text-align: center;
	color: rgb(105, 105, 105);
}

.powered-link {
	color: rgb(109, 107, 103);	
}

.powered-link:hover {
	cursor: pointer;
	color: #00D6B4;
	-webkit-transition: 0.3s all ease-in-out;
	transition: 0.3s all ease-in-out;
}


/* media */
@media (min-width: 1200px) and (max-width: 1439px) {
	.container {
		max-width: 1320px;
		width: 96%; /*для адаптива*/
	}
	.head__container {
		/* padding-inline: 1%; */
		padding-bottom: 2%;
	}
	.footer {
		padding-bottom: 4%;
	}
	.footer__container {
		padding: 0px 24%;
	}
}

@media (min-width: 1200px) and (max-width: 1238px) {
	.footer__container {
		padding: 0px 24%;
	}
}

@media (min-width: 1025px) and (max-width: 1199px) {
	.container {
		width: 95%;
	}
	.about-us__container {
		padding: 15% 10%;
	}
	.menu {
		padding-top: 8%;
		padding-bottom: 8%;
	}
	.location {
		padding-bottom: 7%;
	}
	.info {
		padding-top: 8%;
		padding-bottom: 8%;
	}
	.footer__container {
		padding: 0 17%;
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
	.container {
		width: 95%; /*для адаптива*/
	}
	.nav-item:not(:last-child) {
		margin-right: 17px;
	}
	.logo img {
		width: 90%;
	}
	.about-us__container {
		padding: 13% 13%;
	}
	.menu__content {
		font-size: 27px;
	}
	.menu {
		padding-top: 8%;
		padding-bottom: 8%;
	}
	.location {
		padding-bottom: 7%;
	}
	.location__container {
		gap: 3%;
	}
	.location__container .location__block p {
		font-size: 20px;
	}
	.gallery {
		padding-top: 7%;
		padding-bottom: 7%;
	}
	.footer {
		padding-bottom: 3%;
	}
	.footer__container {
		padding: 0 10%;
	}
	.footer__info {
		gap: 32px;
	}
}

@media (min-width: 769px) {
	.burger__nav {
		display: none;
	}
}

@media (max-width: 768px) {
	.nav-list {
		display: none;
		/* visibility: hidden; */
	}
	.header__social {
		display: none;
		/* visibility: hidden; */
	}
	.container {
		width: 92%; /*для адаптива*/
	}
	.logo {
		padding-right: 28%;
		padding-left: 22%;
	}
	.burger__menu {
		height: 100vh;
	}
	.social-link:not(:last-child) {
		margin-right: 7px;
	}
	.about-us__container {
		padding: 14% 10%;
	}
	.footer__container {
		padding: 0 10%;
	}
}

@media (max-width: 696px) {
	.footer__nav {
		margin-bottom: 8%;
	}
}


@media (max-width: 576px) {
	.menu__container {
		flex-direction: column;
	}
	.menu-left-box, .menu-right-box {
		width: 100%;
	}
	.menu__content {
		margin-bottom: 10%;
	}
	.tabs {
		margin-bottom: 10%;
	}
	.gallery {
		display: none;
	}
	.location__container {
		gap: 0%;
	}
	.location__container {
		-ms-flex-direction: column;
			flex-direction: column;
	}
	.info__container {
		flex-direction: column;
	}
	.info-right {
		max-width: 100%;
		width: 100%;
	}
	.footer__container {
        padding: 0 3%;
    }
	.footer__info {
		margin-top: 7%;
	}
}

@media (max-width: 422px) {
	.footer__nav {
		margin-bottom: 15%;
	}
}